body {
  padding: 10px;
}
.printer {
  width: 640px;
  max-width: 100%;
  background: #333;
  margin: 0 10px 10px 0;
  display: block;
  float: left;
}
.printer img{
  width: 640px;
  max-width: 100%;
}
.printer p{
  color: #fff;
  margin: 0.5em 0.5em;
}
.printer pre{
  color: #eee;
  font-size: 80%;
  margin: 0.5em 0.5em;
}

#noprinters {
  display: none;
  background: #333;
  margin: 0 10px 10px 10px;
  color: #fff;
  padding: 0.5em 0.5em;
}
#noprinters.enable{
  display: block;
}

@media (max-width:640px) {
  body {
    padding: 0;
  }
  .printer {
    margin: 0 0 10px 0;
  }
}